<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>canvas粒子发光特效 | jQuery特效|H5网站特效| H5游戏</title>


    <style type="text/css">



body {
  background: black;


}






.flake {
  position: absolute;
  left: 50%;
  top: 50%;
  background: #fff;
  width: .25rem;
  height: .25rem;
  margin-top: -.125rem;
  margin-left: -.125rem;
  border-radius: 50%;
  box-shadow: 0 0 20px #f6ffe1,0 0 10px #f6ffe1;
}

    </style>
</head>

<body>
<div>
    <div class="orb"></div><!--粒子发光特效-->
    <script src='http://www.5iweb.com.cn/resource/5iweb2016121201/js/js/amxzqr.js'></script>

    <script src="http://www.5iweb.com.cn/resource/5iweb2016121201/js/index.js"></script>
</div>


</body>
</html>
